.layout-container {
    padding: 2.5% 2.5%;
    background-color: #CDCDCD;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

.layout-content {
    overflow: auto;
    height: 100%;
    background-color: rgba(256, 256, 256, .7);
    border-radius: 15px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
}