.layout-container {
    padding: 2.5% 2.5%;
    background-color: #CDCDCD;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

.layout-content {
    overflow: hidden;
    height: 100%;
    background-color: rgba(256, 256, 256, .7);
    border-radius: 15px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .layout-content {
        padding: 5% 2.5%;
        overflow: auto;
    }
}