.custom-btn {
    padding: .25em .75em;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.custom-btn:hover {
    opacity: .8;
}

.custom-btn:disabled {
    opacity: .6;
    cursor: default;
}